<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="dnd, d&d, dungeons and dragons" />
    <meta name="description" content="A simple tool for Dungeons and Dragons" />
    <title>Frank's Dnd Tool - {{ subtitle }}</title>
    <link rel="stylesheet" type="text/css" href="/static/topnav.css" />
    {{ other_styles|safe }}
  </head>
  <style>
    body {
      background-color: lightgrey;
    }
  </style>
  <body>
    <div class="topnav">
      <a id="/roll" href="/roll">Roll Dice</a>
      <a id="/classes" href="/classes">Get Class Info</a>
      <a id="/races" href="/races">Get Race Info</a>
      <a id="/character_sheet" href="/character_sheet">Character Sheet</a>
      <a id="/table" href="/table">Get All Characters</a>
    </div>
    <script type="text/javascript" src="/static/topnav.js"></script>
    {{ content|safe }}
    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    {{ other_scripts|safe }}
  </body>
</html>
