<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="dnd, d&d, dungeons and dragons, classes, info">
        <meta name="description" content="A simple page to get information on classes for Dungeons and Dragons">
        <title>Frank's Dnd Tool - {{ subtitle }}</title>
    </head>
    <body>
        <a href="/">Home</a>
        <h1> DnD Class Details</h1>
        <form>
            <p>
                <label for="character_class">Class:</label><br>
                <select id="character_class" name="character_class">
                    {% for item in class_list %}
                    <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <label for="create">Show Class Details:</label><br>
                <input type="submit" name="show" value="Show">
            </p>
        </form>
        {{ content|safe }}
    </body>
</html>