<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frank's Dnd Tool - {{ subtitle }}</title>
</head>
<body>
    <a href="/">Home</a>
    <h1> DnD Race Details</h1>
    <form>
        <p>
            <label for="race">Race:</label><br>
            <select id="race" name="race">
                {% for item in race_list %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label for="create">Show Race Details:</label><br>
            <input type="submit" name="show" value="Show">
        </p>
    </form>

    {{ content|safe }}
</body>
</html>