<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frank's Dnd Tool - {{ subtitle }}</title>
</head>
<body>
    {% if subtitle != "Home" %}
        <a href="/">Home</a>
    {% endif %}

    <h1>Dice Roller</h1>
    <form>
        <p>
            <label for="num_sides">Number of Sides:</label><br>
            <input type="number" name="num_sides" value={{num_sides}} min="0" style="width:40px">
        </p>
        <p>
            <label for="num_dice">Number of Dice:</label><br>
            <input type="number" name="num_dice" value={{num_dice}} min="0" style="width:40px">
        </p>
        <p>
            <label for="modifier">Modifier:</label><br>
            <input type="number" name="modifier" value={{modifier}} style="width:40px">
        </p>
        <p>
            <label for="roll">Roll Dice:</label><br>
            <input type="submit" name="roll" value="Roll">
        </p>
    </form>
    {{ content|safe }}
</body>
</html>